Repository confluentinc/jmx-monitoring-stacks, pull requests merged in 2023-09, with the labels that each got.

#118 Fix/grafana dashboards
  jmxexporter-prometheus-grafana/assets/grafana/provisioning/dashboards/kafka-cluster.json
  jmxexporter-prometheus-grafana/assets/grafana/provisioning/dashboards/kafka-lag-exporter.json
Labels: grafana

#102 Cfk compatible config
  README.md
  jmxexporter-prometheus-grafana/README.md
  jmxexporter-prometheus-grafana/cfk/pm-confluent.yaml
  jmxexporter-prometheus-grafana/cfk/update-dashboards.sh
  shared-assets/jmx-exporter/confluent_ksql.yml
  shared-assets/jmx-exporter/confluent_schemaregistry.yml
  shared-assets/jmx-exporter/zookeeper.yml
Labels: cfk

#106 Fix ksqldb multiple clusters
  jmxexporter-prometheus-grafana/assets/grafana/provisioning/dashboards/ksqldb-cluster.json
  shared-assets/jmx-exporter/confluent_ksql.yml
Labels: grafana, prometheus
